<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<br>
<a th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <b>Книги:</b>
    <div th:each="book : ${books}">

        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">books</a>
    </div>
    <hr/>
</a>
<a th:if="${#lists.isEmpty(books)}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</a>
<br>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>